.form-card {
  background-color: white;
  width: 75%;
  margin: 8em auto;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btn-pos {
  display: flex;
  justify-content: flex-end;
}

.room-btn-spacing {
  margin: 0 1em;
}