.flexMe{
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;


  // position: relative;
  // flex: 1;
  width: 110%;
}
.flexMe div{
  // overflow: hidden;
  // height: 500px;
  // width: 40vw;
  // padding-left: 10px;

}
.map{
  height: 80vh;
  width: 800%;
  position: sticky;
  top: 84px;
  // outline: rgb(46, 54, 63) solid 1px;
}
.rooms-deck{
  width: 50vw;
  margin-left: -150px;
  // color: red;
}
.room-card{
  margin-bottom: 10px;
}