 .convoMessages{
  display:flex;
  margin: 50px; 
  border: solid 1px #555;
  background-color: #F1F1F1;
  box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  border-radius:25px;
  margin: 30px;
}

.messagesText {
  width:70%;
  margin-left: auto;
  order: 2;

}
.convoWrite {
  margin-left: 50px; 

}

/* .convoRecipientCard {
  border:none;
  height:500px;

} */

.convoCardContent{
  background-color: #F1F1F1;
  
}
.crop-container {
 /*  width: 200px; */
  height: 80%;
  overflow: hidden;

}
