.thread {
  display:flex;
  border: solid 1px #555;
  background-color: #F1F1F1;
  box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  border-radius:25px;
  margin: 30px; 

}
.threadMessages {
  width:75%;
  height: 10%;

  padding: 25px;
   
}
.threadButton {
/*   display: inline-block; */
  background: rgb(187, 186, 186);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color: rgb(187, 186, 186);
  font-family: "arial-black";
  font-size: 14px;
  color: #FFF;
  cursor: pointer;  


}

.recipientCard {
  margin: 25px;
}

.threadPencil { color: red;
  height: 40px;
}
