.profile {
  display: flex;
  width: 75%;
  margin: 3em auto;

  &__info {
    width: 40%;
    margin: 2em auto;
  }
  &__listings {
    width: 50%;
    margin: 2em auto;
  }

  &__card-spacing {
    margin: 1.5em 0;
  }
  &__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25);

  }
}

.right {
  float: right;
}


.btn-gradient {
  background-image: linear-gradient(to bottom right, #007bff, rgb(115, 207, 211));
  border-color: #fff;
  transition: background-image 1s ease;
}

.btn-gradient:hover {
  background-image: linear-gradient(to top left, #007bff, rgb(115, 207, 211));
}