.profile {
  &__card {
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 40%;
    margin: auto;
    &-label {
      font-weight: bold;
    }
  }
}

.btn-gradient {
  background-image: linear-gradient(to bottom right, #007bff, rgb(115, 207, 211));
  border-color: #fff;
  transition: background-image 1s ease;
}

.btn-gradient:hover {
  background-image: linear-gradient(to top left, #007bff, rgb(115, 207, 211));
}