.roommatePage {
  background-image: url("https://res.cloudinary.com/ds3bokefg/image/upload/v1618751036/general/backgrounds/wood.jpg");
  margin: 0em 0em 0em 0em

}
.flexMe{
  display: flex;
  // flex: 1;
  // width: 50%;

}
.allCards {
  width: 70%;
}

.oneCard {
  margin:2%
}

@media (min-width: 992px){
  .roommatePage{
    max-width: 1190px

  }
}

