.wholeComp {
  margin:5px
}
// .row {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   width: 100%;
//   height:25em;
// }

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width:50%
}

.alignJustCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* .name {
  margin-bottom: 15em;
} */

.pic2{
  align-self:start
}

.messageArea{  
  margin:125px 55px 55px 55px;

}
/* .carousel {
  background-color: rgb(127, 192, 36);
  width: 50%;
  justify-content: left;
  margin-top: 20em;
} */