/* .rmaFlexMe {
  display: flex;
} */
.allCards {
  width: 100%;
}

.oneCard {
  margin:2%;
  width:100%
}
.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}
/* 
@media (min-width: 992px){
  .roommatePage{
    max-width: 1190px

  }
} */

